<link rel="stylesheet" href="/css/content.css">
<link rel="stylesheet" href="/css/loading.css">
<script  src="/js/content.js" defer></script>

<div id="spinner" class="spinner" style=" display: none; ">
    <img src="https://cdn.pixabay.com/animation/2023/08/11/21/18/21-18-05-265_512.gif" alt="Loading...">
</div>

<div class="body">
    <div class="header">
        <h1>Bank Application</h1>
        <h5>UserName :  @(ViewBag.UserName)</h5>
        <h5>Khun @(ViewBag.Name)</h5>
    </div>
    <div class="main">
        <section id="balance">
            <h2>Current Balance</h2>
            <p id="balance-amount">$@(ViewBag.Balance)</p>
        </section>
        <section id="deposit">
            <h2>Deposit Money</h2>
            <input type="number" id="deposit-amount" placeholder="Amount">
            <button type="button"">Deposit</button>
        </section>
        <section id="withdraw">
            <h2>Withdraw Money</h2>
            <input type="number" id="withdraw-amount" placeholder="Amount">
            <button type="button"">Withdraw</button>
        </section>
        <section id="transfer">
            <h2>Transfer Money</h2>
            <input type="number" id="transfer-amount" placeholder="Amount">
            <input type="text" id="transfer-to" placeholder="Recipient Username">
            <button type="button">Transfer</button>
        </section>
        <section id="receive">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" 
                        id="Transfer-tab" 
                        data-bs-toggle="tab" 
                        type="button" 
                        role="tab" 
                        data-value="transfer"
                        aria-controls="home-tab-pane" 
                        aria-selected="true">Transfer Menu</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" 
                        id="Receive-tab" 
                        data-bs-toggle="tab" 
                        type="button" 
                        role="tab" 
                        data-value="receive"
                        aria-controls="profile-tab-pane" 
                        aria-selected="false">Receive Menu</button>
                </li>
            </ul>
            <h2>Transaction History</h2>
            <section id="transaction-history">

            </section>
            <form id="pagination" name="pagination-page">
                <input type="hidden" id="page" name="page" value="@ViewBag.PageNumber" />
                @Html.AntiForgeryToken()
            </form>
        </section>
    </div>
</div>